{% extends "base.html" %}
{% block main %}
	{% if current_user.is_authenticated %}
		<div class="chapter-1">
			<form class="panel box width-max1 zone-auth align-center" method="POST" action="{{ url_for('login.login') }}">
				<h3>
					Logout
				</h3>
				<img alt="" class="avatar avatar-person avatar-large avatar-empty" src="{{ current_user.avatar }}">
				<label>
					<span></span>
					<input type="submit" value="Logout">
					<small></small>
				</label>
			</form>
		</div>
	{% else %}
		<div class="chapter-1">
			<form class="panel box width-max1 zone-auth" method="POST" action="{{ url_for('login.login_password') }}">
				<h3>
					Who are you?
				</h3>
				<div aria-hidden="true" class="avatar avatar-person avatar-large avatar-empty">
					?
				</div>
				<div></div>
				<p>
					Enter your credentials to sign in:
				</p>
				<div></div>
				<input type="text" name="username" autocomplete="username" placeholder="Username" aria-label="Username">
				<input type="password" name="password" autocomplete="password" placeholder="Password" aria-label="Password">
				<div></div>
				<input type="submit" value="Login"/>
			</form>
		</div>
	{% endif %}
{% endblock %}
