{% extends "base.html" %}
{% block main %}
	<div class="chapter-1">
		<form class="panel box width-max1 zone-login page-login align-center" method="POST" action="{{ url_for('login.login') }}">
			<h3>
				Who are you?
			</h3>
			<div aria-hidden="true" class="avatar avatar-person avatar-large avatar-empty">
				?
			</div>
			<div></div>
			<p>
				Enter your username to proceed to sign in:
			</p>
			<div></div>
			<input type="text" name="username" autocomplete="username" placeholder="Username" aria-label="Username">
			<div></div>
			<input type="submit" value="Continue"/>
		</form>
	</div>
{% endblock %}
