{% extends "base.html" %}
{% block main %}
	<div class="chapter-1">
		<form class="panel box width-max1 zone-login page-password align-center" method="POST" action="{{ url_for('login.login_password') }}">
			<h3>
				{{ selected_user.name }}, is it really you?
			</h3>
			<img alt="" class="avatar avatar-person avatar-large avatar-empty" src="{{ selected_user.avatar }}">
			<div></div>
			<p>
				Enter your password to prove your identity:
			</p>
			<div></div>
			<input type="password" name="password" autocomplete="password" placeholder="Password" aria-label="Password">
			<div></div>
			<input type="submit" value="Continue"/>
		</form>
	</div>
{% endblock %}
