# https://editorconfig.org

root = true


[*]

# Enforce lf line endings
end_of_line = lf

# Enforce newline at end of files
insert_final_newline = true

indent_size = 4


[*.py]

# Python (sadly) strongly recommends the usage of 4 spaces as indentation.
indent_style = space

[*.yml]

# Same goes for yml
indent_style = space
# But too much indentation makes things unreadable
indent_size = 2


[*.html]

indent_style = tab
