# https://editorconfig.org

root = true


[*]

# Enforce lf line endings
end_of_line = lf

# Enforce newline at end of files
insert_final_newline = true

indent_size = 4


[*.py]

# Python (sadly) strongly recommends the usage of 4 spaces as indentation.
indent_style = space


[*.html]

indent_style = tab
