code {
    white-space: nowrap;
}

.width-max600 {
    flex-basis: 584px;
    flex-grow: 0;
}

@media screen and (max-width: 600px) {
    .width-max600 {
        flex-basis: 100%;
        flex-grow: 0;
    }
}
