code {
    white-space: nowrap;
}

.width-max1 {
    flex-basis: 476px;
    flex-grow: 0;
}

@media screen and (max-width: 492px) {
    .width-max1 {
        flex-basis: 100%;
        flex-grow: 0;
    }
}
